.content-item {
    margin-bottom: 80px;
}

.title {
    font-weight: 600;
    font-size: 52px;
    color: #172C47;
}

.line {
    height: 2px;
    background-color: #03499E;
    opacity: 0.11;
    margin: 22px 0 30px 0;
}

.info {
    font-weight: bold;
    font-size: 20px;
    color: #172C47;
    line-height: 50px;
    padding: 0 30px;
}

.info-content {
    /* font-weight: bold; */
    text-align: justify;
    font-size: 28px;
    color: #172C47;
    line-height: 48px !important;
    box-sizing: border-box;
    padding: 0 30px;
    line-height: 50px;
}